---
layout: default
title: Project
page-title: projectLinks
home-title: This is my private code.
description:
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="ex-list">
      {% for demo in site.codeDemo %}
        <li  class="fadeInUp animated">
            <span class="tag-name" ><a href="{{ demo[1][0] }}" target="_blank">「&emsp;{{ demo[0] }}&emsp;」</a></span>
            </br>
            <span>{{demo[1][1]}}</span>
            {% if demo[1][2] %}
            </br>
            <span class="tag-link"><a href="{{demo[1][2]}}" target="_blank">∞ Preview ∞</a></span>
            {% endif %}
        </li>
      {% endfor %}
    </ul>
</main>
{% include footer.html %}
