---
layout: default
title: Project
page-title: projectLinks
home-title: This is my private code.
description:
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="ex-list">
      {% for demo in site.data.codes %}
        <li  class="fadeInUp animated">
            <span class="tag-name" ><a href="{{ demo.url }}" target="_blank">「&emsp;{{ demo.title }}&emsp;」</a></span>
            </br>
            <span>{{demo.des}}</span>
            </br>
            {% if demo.preView %}
            <span class="tag-link"><a href="{{demo.preView}}" target="_blank">∞ Preview ∞</a></span>
            {% endif %}
            {% if demo.tech %}
            </br>
            <span>Tech stack: {{demo.tech}}</span>
            {% endif %}
        </li>
      {% endfor %}
    </ul>
</main>
{% include footer.html %}
