---
layout: default
title: Trip
page-title: Trip
home-title: Travelling guideline
description:
---

{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="ex-list">
        {% for post in site.posts %}
        <li  class="fadeInUp animated" id="pc">
            <span class="tag-name" ><a href="{{ post.url }}">「&emsp;{{ post.title }}&emsp;」</a></span>
            </br>
            <span>{{post.location}}</span>
        </li>
        {% endfor %}
    </ul>
</main>
{% include footer.html %}

<script src="/assets/js/main.js"></script>
